[type="date"] {
  background: #fff url("../images/calendar.png") 97% 50% no-repeat;
  color: "white";
  padding-right: 20px;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.daterangepicker {
  display: none !important;
}

.hotel-list-img {
  height: 200px;
  width: 300px;
}

.filter-list {
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 35px;
}

.invisible-background-btn {
  border: none !important;
  outline: none !important;
  background-color: transparent;
  transition: all 0.25s;
}

.invisible-background-btn:hover {
  transform: translateY(-3px);
}

.hotel-details-right {
  padding: 0 5px !important;
}

.hotel-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.hotel-details-btn {
  border: 1px solid #0071cc !important;
}

.show-details-outline {
  padding: 5px !important;
}

.box1 {
  padding: 10px;
}

.destination-carousel-img {
  height: 150px;
  width: 200px;
  object-fit: contain;
}
